In [23]:
import pandas as pd
import json
from IPython.display import clear_output

In [25]:
data = []

In [26]:
for i in range(1,5):
    with open(f'data/reviews_data_{i}.json') as f:
        data += json.load(f)

In [27]:
df = pd.DataFrame(data)

In [28]:
print(df.shape)
df.head()

(260, 4)

,date,title,stars,review
0,2021-10-31,Not worth what I paid for,1.0 out of 5 stars,The wick was covered in wax. I had to get it o...
1,2021-03-17,Smells like Gasoline. Manufacturer replacing.,2.0 out of 5 stars,UPDATED: Amazon advised I'd have to contact th...
2,2021-02-07,Disappointing lack of scent,1.0 out of 5 stars,This has no vanilla scent. Previously I purcha...
3,2021-01-30,Very pleased will purchase again !,5.0 out of 5 stars,see headline
4,2021-01-01,Known product,5.0 out of 5 stars,A known product and delivered by a proven supp...

In [29]:
df['no_scent'] = [None]*260

In [36]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
for i in df[250:].iterrows():
    clear_output()
    print(i[0], i[1]['title'], '\n', i[1]['review'], '\n', i[1]['stars'])
    prompt = input('\n\nIs the review about low/no/weird scent? (y/n)\n')
    if prompt.lower() == 'y':
        df.iloc[i[0]]['no_scent'] = True
    else:
        df.iloc[i[0]]['no_scent'] = False

# df loaded using already processed data
# df = pd.read_csv('data/reviews_raw.csv')

In [34]:
df.head()

,date,title,stars,review,no_scent,noscent_counter
0,2021-10-31,Not worth what I paid for,1.0 out of 5 stars,The wick was covered in wax. I had to get it o...,False,0
1,2021-03-17,Smells like Gasoline. Manufacturer replacing.,2.0 out of 5 stars,UPDATED: Amazon advised I'd have to contact th...,True,1
2,2021-02-07,Disappointing lack of scent,1.0 out of 5 stars,This has no vanilla scent. Previously I purcha...,True,1
3,2021-01-30,Very pleased will purchase again !,5.0 out of 5 stars,see headline,False,0
4,2021-01-01,Known product,5.0 out of 5 stars,A known product and delivered by a proven supp...,False,0

In [37]:
df_weekly = df.groupby([pd.Grouper(key='date', freq='W-MON')])['noscent_counter'].sum().reset_index().sort_values('date')

In [38]:
df_weekly.head()

        date  noscent_counter
0 2019-05-13                0
1 2019-05-20                0
2 2019-05-27                0
3 2019-06-03                0
4 2019-06-10                0

In [ ]:
# Truncate rows from dates that go back prior to the COVID cases data
df_weekly[37:].to_csv('data/reviews_df.csv')